<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
         {% if user.is_authenticated %}
            {{user.get_full_name}}
            <a href="/logout/">Salir alv</a>
         {% else %}
             <a href="{% url 'social:begin' 'instagram' %}?next=/">Login with GitHub</a>
         {% endif %}
         {% for img in imgs %}
            <img src="{{img}}" width="200" height="200">
         {% endfor %}
         


    </body>
</html>
